# Dependencies
node_modules/

# Build output
dist/
build/

# Environment files (NUNCA commitear .env.local ni .env.production)
.env
.env.local
.env.production
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Testing
coverage/

# Cache
.esbuild/
*.tsbuildinfo

# Vercel
.vercel